# ========================
# DATABASE CONFIG
# ========================

# Para desenvolvimento local
DATABASE_URL=postgresql://user:password@localhost:5432/database

# Para Supabase (produção ou testes remotos)
SUPABASE_URL=https://yoururl.supabase.co
SUPABASE_KEY=yourkey

# ========================
# JWT CONFIG
# ========================
# Gera uma chave secreta aleatória para assinar tokens JWT
JWT_SECRET=yourkey
ALGORITHM=youralgo
ACCESS_TOKEN_EXPIRE_MINUTES=60

# ========================
# APP CONFIG
# ========================
APP_ENV=development  # ou production